#project-content {
    display: flex;
    margin: auto auto auto 20vw;
    height: 270px;
    width: 770px;
}

#left, #right {
    width: 50%;
}

#synopsis-container {
    z-index: 1;
}


#right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

p.right {
    margin: 10px 30px 0px 30px;
    text-align: right;
}

h3.right {
    margin: 5px 30px 30px 30px;
    text-align: right;
}

#synopsis {
    padding: 40px 50px 40px 30px;
    margin: 0;
    background-color: rgba(0, 100, 200, 0.8);

}

img {
    height: 100%;
    width: auto;
    opacity: 0.7;
}

@media screen and (max-width: 1169px) {
    #project-content {
        display: block;
        margin: auto;
        height: 270px;
        width: 60%;
    }

    img {
        width: 100%;
        opacity: 0.7;
    }
    
    #left {
        width: 100%;
        margin: auto;
    }
    
    #synopsis-container {
        width: 100%;
        z-index: 1;
    }
    
    
    #right {
        display: block;
        width: 100%;
        margin: auto;
    }

    p.right {
        margin: 10px 30px 0px 30px;
        text-align: left;
    }
    
    h3.right {
        margin: 5px 30px 30px 30px;
        text-align: left;
    }
    
}